@import url("./catppuccin-variables.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"); /* Poppins font */

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--text);
  transition: color var(--transition-duration) ease,
    background-color var(--transition-duration) ease;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
  background: transparent;
}
.no-game-data {
  width: 100%;
  background-color: var(--base);
  transition: all var(--transition-duration) ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.ticker-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it appears above other content */
  overflow: hidden;
  background-color: var(--base);
  box-shadow: rgba(0, 0, 0, 0.16) 0px -3px 6px,
    rgba(0, 0, 0, 0.23) 0px -3px 6px; /* Adjust shadow for bottom */
  margin: 0;
  padding: 0;
}
.ticker-content {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
}
.ticker-block {
  box-sizing: border-box;
  text-align: center;
  padding: 0.4em 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ticker-block-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  background-color: var(--surface0);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-sizing: border-box;
  justify-content: space-between;
  transition: all var(--transition-duration) ease;
  margin: 0;
}
.ticker-block-wrapper:hover {
  background-color: var(--surface1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.team-logo {
  width: 50px; 
  height: 50px;
  object-fit: contain;
  transition: font-size 0.3s ease-in-out;
}
.block-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
}
.score-row,
.small-text-status,
.small-text-date,
.live-status {
  margin: 0;
  line-height: 1.2;
}
.small-text-status,
.small-text-date,
.live-status {
  font-size: 0.8em; /* Adjust as necessary */
}
.team-score {
  margin: 0 0.5em;
}
.dash {
  margin: 0 0.5em;
}
.small-text-status,
.small-text-date {
  color: var(--subtext0);
}
.live-status {
  color: red;
  font-weight: bold;
}
.winner {
  color: var(--green);
}
.loser {
  color: var(--red);
}
.theme-toggle,
.border-radius-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: var(--text);
  font-size: 32px;
  transition: transform 0.3s ease, filter 0.3s ease; 
  position: absolute;
}
.theme-toggle {
  top: 0.6em;
  right: 0.8em;
}
.svg-shadow {
  filter: drop-shadow(
    rgba(0, 0, 0, 0.12) 0px 1px 3px,
    rgba(0, 0, 0, 0.24) 0px 1px 2px
  );
}
.svg-shadow:hover {
  filter: drop-shadow(
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px
  );
}
.border-radius-toggle {
  top: 0.6em;
  right: 2.4em;
  margin-top: 3px;
}
.theme-toggle:hover,
.border-radius-toggle:hover {
  transform: scale(1.05); /* Slight scale on hover */
  transition: transform 0.3s ease, filter 0.3s ease; /* Smooth scaling and shadow */
}
.theme-toggle:active,
.border-radius-toggle:active {
  transform: scale(1.4); /* Larger scale on click */
}
.popup-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--base);
  z-index: 100;
  transition: all var(--transition-duration) ease;
  border-radius: var(--border-radius);
  padding: 1.5em 1.5em 0.5em 1.5em;
  margin: 1em;
  width: 25em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.popup-controls .speed-manager,
.popup-controls .displayed-week-manager,
.popup-controls .total-blocks-manager,
.popup-controls .sports-preset-manager {
  width: 100%;
  margin-bottom: 1em;
}
.popup-controls .total-blocks-manager button,
.popup-controls .displayed-week-manager select,
.popup-controls .speed-manager select,
.popup-controls .sports-preset-manager select {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.popup-controls .select-wrapper {
  position: relative;
  width: 100%;
}
.popup-controls select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--surface0);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px;
  font-size: 16px;
  color: var(--text);
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}
.total-blocks-manager button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: var(--surface0);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--text);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.popup-controls label {
  font-weight: bold;
}
.total-blocks-manager > button:hover {
  background-color: var(--overlay0);
  color: var(--base);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.total-blocks-manager button:disabled {
  background-color: var(--mantle);
  cursor: not-allowed;
}
.popup-controls .select-wrapper::after {
  content: "\25BC";
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: var(--text);
}
.popup-controls select:hover {
  background-color: var(--surface1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media (max-width: 600px) {
  .team-logo {
    width: 40px;
    height: 40px;
  }
  .score-row {
    font-size: 1em;
  }
  .small-text-status,
  .small-text-date {
    font-size: 0.8em;
  }
}
