@import 'variables.css';

/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: var(--crust);
    height: 100%;
    transition: background-color .3s ease;
    font-family: var(--fontFamily);
}

.event-slide {
    min-width: 300px; /* Set your preferred minimum width */
}